.profile__subtitle {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
    grid-row: 2;
}

@media screen and (max-width: 950px) {
    .profile__subtitle {
        font-size: 17px;
    }
}

@media screen and (max-width: 768px) {
    .profile__subtitle {
        font-size: 15px;
    }
}

@media screen and (max-width: 620px) {
    .profile__subtitle {
        margin: auto;
        font-size: 14px;
        line-height: 17px;
        max-width: 189px;
    }
}
