.elements {
    max-width: 880px;
    margin: 51px auto 0;
}

@media screen and (max-width: 950px) {
    .elements {
        max-width: 700px;
    }
}

@media screen and (max-width: 768px) {
    .elements {
        max-width: 580px;
        margin: 41px auto 0;
    }
}

@media screen and (max-width: 620px) {
    .elements {
        max-width: 282px;
        margin: 36px auto 0;
    }
}